* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    line-height: 1.6;
}

.navbar {
    background:#060771;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logo {
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Playwrite DE SAS', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.nav-link {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-link li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.nav-link li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    transform: translateY(-2px);
}
.jumbotron {
    font-family: 'Segoe UI', sans-serif;
    background: #4E61D3;
    color: #ffffff;
    min-height: 60vh;
    padding: 60px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.jumbotron h1 {
    font-size: 40px;
    margin-top: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
}
.jumbotron p {
    font-size: 24px;
    margin-bottom: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.jumbotron button {
    background-color:#5409DA;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
.jumbotron button:hover {
    background-color: #5409DA;
    color: #ffffff;
    transform: scale(1.05);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}
.bagian-baru {
    padding: 40px;
    background-color: #4E61D3;
}
.new-grid {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 16px;
    align-items: start;
}
.bagian-baru h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color:#fffefa;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.card {
    background-color:#8DD8FF;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    color:#232323;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-wrap: wrap;
    box-shadow: 0 6px 8px #1000291a;
    text-decoration: none;
}
.card img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 12px;
    overflow: hidden;
}
.card-title {
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: bold;
}
.card-ket {
    font-size: 16px;
    color: #232323;
    font-weight: normal;
}
.card:hover {
    background-color:#8DD8FF;
    transform: scale(1.05);
}

.footer {
    background-color: #3c3f4d;
    color: #ffffff;
    padding: 30px 20px 15px;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}
.footer-section h3 {
    margin-bottom: 10px;
    color: #ffffff;
}
.footer-section p
.footer-section li{
    margin: 5px 0;
    font-size: 16px;
    color: #ffffff;
}
.footer-container ul{
    list-style: none;
    padding: 0;
}
.footer-section a {
    text-decoration: none;
    color: #ffffff;
}
.footer-section a:hover {
    text-decoration: underline;
    color: #060771
}
.footer-bottom {
    color: #ffffff;
}